<div class="form-group col-xs-12 col-sm-12 col-md-12 pull-right">
  <select class="form-control">
    <option value="" selected="">Select a school</option>
    <option value="Dutchess">Dutchess Community College</option>
  </select>
</div>
<div id="courses">
  <div id="course1" class="form-group">
    <label class="col-xs-2 col-sm-2 col-md-2 control-label">1</label>
    <div class="col-xs-5 col-sm-5 col-md-5">
      <select id="course1-subject" class="form-control">
        <option value="" selected="">Subject</option>
        <option ng-value="{{ key }}">ACC</option>
        <option value="MATH">MATH</option>
      </select>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5">
      <select id="course1-course" class="form-control">
        <option value="" selected="">Course</option>
        <option value="101">101</option>
        <option value="103">103</option>
        <option value="201">201</option>
      </select>
    </div>
  </div>
  <div>
    <h1>Test</h1>
    <div class="col-xs-5 col-sm-5 col-md-5">
      <select id="course1-subject"
              class="form-control"
              ng-model="form.subject"
              ng-change="updateSelection()"
              ng-options="key as key for (key, value) in data.courses">
        <option value="" selected="">Subject</option>
      </select>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5">
      <select id="course1-course"
              class="form-control"
              ng-change="updateSelection()"
              ng-model="form.courseNum">
        <option value="" selected="">Course</option>
        <option ng-repeat="data in data.courses[form.subject]">{{ data.courseNum }}</option>
      </select>
    </div>
  </div>
</div>
<div style="float:right" class="form-group col-xs-3 col-sm-2 col-md-2">
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
</div>