<div class="form-group col-xs-12 col-sm-12 col-md-12 pull-right">
  <select class="form-control">
    <option value="" selected="">Select a school</option>
    <option value="Dutchess">Dutchess Community College</option>
  </select>
</div>
<div id="courses">
  <div ng-attr-id="{{ 'course' + $index + 1 }}"
       class="form-group"
       ng-repeat="n in form track by $index">
    <label class="col-xs-2 col-sm-2 col-md-2 control-label">{{ $index + 1 }}</label>
    <div class="col-xs-5 col-sm-5 col-md-5">
      <select ng-attr-id="{{ 'course' + ($index + 1) + '-subject' }}"
              class="form-control"
              ng-model="form.subject"
              ng-change="updateSelection()"
              ng-options="key as key for (key, value) in data.courses">
        <option value="" selected="">Subject</option>
      </select>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5">
      <select ng-attr-id="{{ 'course' + ($index + 1) + '-course' }}"
              class="form-control"
              ng-model="form.courseNum">
        <option value="" selected="">Course</option>
        <option ng-repeat="data in data.courses[form.subject]">{{ data.courseNum }}</option>
      </select>
    </div>
  </div>
</div>
<div style="float:right" class="form-group col-xs-3 col-sm-2 col-md-2">
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
</div>