extends layout

block content
  div.container.container-fluid.center-block
    if alertMsg
      .alert.alert-info(role='alert')
        | It looks like you already have a previous session saved. If you want, you can 
        a.alert-link(href='/restore') restore your session here.
    else if session
      .alert.alert-success(role='alert') Session successfully restored!
    form.form-horizontal(ng-view='', ng-init='name=\"'+name+'\";email=\"'+email+'\";restoreSession='+session, ng-submit='formSubmit()')
          
