@media (min-width: 768px) {
  .container {
    width: 60%;
  }
}

body {
  font-family: "Roboto";
}

.navbar-brand {
  font-size: 1.6em;
}

.no-side-paddings {
  padding-left: 0px;
  padding-right: 0px;
}

#chart {
  min-width: 200px;
}

.credit-header {
  font-size: 1.2em;
}

footer {
  bottom: 1%;
  font-size: 0.9em;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  width: 100%;
}